# Env file for direnv in dev environment
# eval "source .venv/bin/activate"

# if [ -z "${VIRTUAL_ENV_PROMPT:-}" ] && [ -n "${VIRTUAL_ENV}" ]; then
#     VIRTUAL_ENV_PROMPT=$(basename "${VIRTUAL_ENV}")
# fi
# export VIRTUAL_ENV_PROMPT

# unset PS1
export HF_HOME="/mnt/ssd1/shjung/huggingface"
# export FORCE_QWENVL_VIDEO_READER=av # Use 'av' backend for video processing
export CUDA_VISIBLE_DEVICES=3